<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
        <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/default.css}" rel="stylesheet"/>
        <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
        <meta charset="UTF-8"/>
        <title>添加图书</title>
    </head>

    <body>
        <div class="contentDiv">

            <h4>FDD西安开发部图书管</h4><br/>

            <legend>
                <strong>添加图书</strong>
            </legend>

            <form th:action="@{/books/{action}(action=${action})}" method="post" class="form-horizontal">

                <div class="form-group">
                    <label for="book_id" class="col-sm-2 control-label">图书编号:</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" id="book_id" name="bookId" th:value="${book.bookId}" required="required" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="book_name" class="col-sm-2 control-label">书名:</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" id="book_name" name="bookName" th:value="${book.bookName}"  required="required" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="book_ISBN" class="col-sm-2 control-label">ISBN:</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" id="book_ISBN" name="bookIsbn" th:value="${book.bookIsbn}"  required="required"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="book_catagory" class="col-sm-2 control-label">分类:</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" id="book_catagory" name="bookCg" th:value="${book.bookCg}"  required="required"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="book_position" class="col-sm-2 control-label">位置:</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" id="book_position" name="bookPos" th:value="${book.bookPos}"  required="required"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="book_press" class="col-sm-2 control-label">出版社:</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" id="book_press" name="bookPre" th:value="${book.bookPre}"  required="required"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input class="btn btn-primary" type="submit" value="提交"/>&nbsp;&nbsp;
                        <input class="btn" type="button" value="返回" onclick="history.back()"/>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>