<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
        <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/default.css}" rel="stylesheet"/>
        <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
        <meta charset="UTF-8"/>
        <title>图书馆首页</title>
    </head>

    <body>
        <div class="contentDiv">

            <h4>FDD西安开发部图书馆</h4><br/>

            <legend>
                <strong>欢迎访问FDD西安开发部图书馆</strong>
            </legend>

                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <input class="btn" type="button" value="查询" onclick="location.href='/books'" /><br/><br/>
                        <input class="btn" type="button" value="借书" onclick="location.href='/loan/new' "/><br/><br/>
                        <input class="btn" type="button" value="还书" onclick="location.href='/loan/return' "/><br/><br/>
                        <input class="btn" type="button" value="添加图书" onclick="location.href='/books/create'" /><br/><br/>
                        <input class="btn" type="button" value="添加用户" onclick="location.href='/user/create'" /><br/><br/>
                    </div>
                </div>
        </div>
    </body>
</html>