<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
    <meta charset="UTF-8"/>
    <title>图书列表</title>
</head>

<body>



<div class="contentDiv">


    <h4>FDD西安开发部图书馆</h4><br/>
    <div>
        <input class="btn" type="button" value="返回" onclick="history.back()"/>
    </div>

    <br/>

    <table id ="book_table" class="table table-hover table-condensed">
        <legend>
            <strong>图书列表</strong>
        </legend>
        <thead>
        <tr id="tr01">
            <th>图书编号</th>
            <th>书名</th>
            <th>作者</th>
            <th>ISBN</th>
            <th>分类</th>
            <th>位置</th>
            <th>出版社</th>
            <th>借阅状态</th>
        </tr>
        </thead>
        <tbody id="booksTable">
        <tr id="tr02" th:each="book : ${bookList}">
            <td th:text="${book.bookId}"></td>
            <td th:text="${book.bookName}"></td>
            <td th:text="${book.bookAuthor}"></td>
            <td th:text="${book.bookIsbn}"></td>
            <td th:text="${book.bookCg}"></td>
            <td th:text="${book.bookPos}"></td>
            <td th:text="${book.bookPre}"></td>
            <td th:text="${book.status}"></td>
        </tr>
        </tbody>
    </table>


</div>


</body>

</html>

